/* Copy right 2008 */
/*svg from https://www.svgrepo.com/svg/520926/search-5 */

body{
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}

.nav-bar{
  position: fixed;
  bottom: 0%;
  width:100dvw;
  height:30px;
  margin:0px 0px 0px 0px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  z-index:10;
}

.a{
  text-decoration: none;
  color: aliceblue;
  height:30px;
  padding-top:4px;
  position: relative;
  width:25dvw;
  text-align: center;
  margin:0px 0px 0px 0px;
}

.a:hover{
  background-color: aliceblue;
  color: black;
}

.title{
  width:98%;
  height:40px;
  text-align: center;
  margin-left:1.2dvw;
  padding-top:10px;
  background-color:lightpink;
  margin-top:5px;
  margin-bottom:7px;
}

.sip{
  width:35dvw;
  height:25px;
  border-radius:10px 0 0 10px;
  margin-right: 0px;
  background-color:lightpink;
}

.sib{
  width:40px;
  margin-left:0px;
  transform: translateX(-3px);
  height:30.6px;
  border-radius:0px 10px 10px 0px;
  background-color: lightpink;
}

.sib:hover{
  background-color: aliceblue;
}

.srch-set{
  display: flex;
  flex-direction: row;
  margin-left:3px ;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.svg-srch{
  width:30px;
  height:30px;
  /* outline:solid red 1px; */
  transform: translateY(-2px);
  margin-right:5px;
}

@keyframes round{

  0%{
      border-top:solid rgb(255, 255, 255) 2px;
      border-right:solid white 2px;
      border-bottom:solid white 2px;
      border-left:solid white 2px;
    
  }

  
  100%{
    border-top:solid rgb(0, 0, 0) 2px;
    border-right:solid rgb(0, 0, 0) 2px;
    border-bottom:solid rgb(0, 0, 0) 2px;
    border-left:solid rgb(0, 0, 0) 2px;    
  }

}
.premium{
  background-color: antiquewhite;
  width:30dvw;
  height:20px;
  margin-top:2px;
  padding-top:2px;
  margin-left:10px;
  margin-right:3px;
  text-align: center;
  border-radius:10px;
  padding-top:5px;
  /* border: solid black 2px; */
  animation:round 0.5s infinite alternate;
}

.og-srch{
  width:75.3dvw;
  height: 30px;
  border-radius:10px 0 0 0px;
  background-color: lightpink;
}
.og-srch-btn{
  width:10dvw;
  height: 35.5px;
  border-radius:0px 10px 0px 0px;
  background-color: lightpink;
}

.srch-form{
  display:flex;
  flex-direction: row;
  margin-bottom:3px;
}

.recs{
  margin-left:30px;
  margin-top: 0%;
}

.rec{
  width:85.5dvw;
  height: 25px;
  background-color: lightpink;
  margin:0 0 3px 0;
  padding-left:1dvw;
  padding-top:6px;
  display:flex;
}

.lrec{
  width:85.5dvw;
  height: 25px;
  background-color: lightpink;
  border-radius:0px 0px 10px 10px;
  margin:0 0 0 0;
  padding-left:1dvw;
  display: flex;
  padding-top:6px;
}

.rec:hover,.lrec:hover{
  background-color:lightgreen;
}

.line{
  height:1px;
  width:100%;
  background-color: black;
  margin-top: 0%;
  transform: translateY(-14px);
}

@keyframes swipe{
  0%{
      transform: translateX(0%);
    
  }
  100%{
      transform: translateX(calc(-100% + 90dvw));
    }
}

.ads{
  height:220px;
  /* background-color: aqua; */
  width:fit-content;
  margin:30px 5dvw 0 5dvw;
  display: flex;
  flex-direction: row;
  animation:swipe 5s infinite;
}


.ad-pic{
  width:150px;
  height:150px;
  border-radius:10px;
  /* outline:solid black 1px; */
  animation:round 1s infinite;
  background:url("ad-pic.png");
  background-size:100% 100%;
  background-position:center;
  background-repeat: no-repeat;
  margin:3px 2dvw 2px 2dvw ;
}

.ad-name{
  width:160px;
  margin:3px 2dvw 2px 2dvw ;
  overflow-y: hidden;
  font-size: medium;
}
.srch-page{
  overflow: hidden;
  margin-top:3dvh;
}
.back-btn{
  outline: solid black 1px;
  background-color:lightpink;
  border-radius:5px;
  width:25px;
  height: 25px;
  margin:0.5dvh 3px 0px 3px;
}

.login-container{
  position:absolute;
  width:60dvw;
  height:40dvh;
  filter: opacity(1);
  top: 50%;
  left:50%;
  transform:translate(-50%,-90%);
  
}

.login-form{
  width: 80%;
  filter: opacity(1);
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left:50%;
  transform:translate(-50%,-55%);
  gap:6px;
  max-width:300px;
}
.glass{
  border-radius:10px;
  width: 100%;
  height:90%;
  position: absolute;
  top: 50%;
  left:50%;
  z-index: -1;
  transform:translate(-50%,-50%);
  box-shadow:0.5px 1px 0.5px 0px black,1px 2px 1px rgb(0, 0, 0),2px 4px 2px 0px rgb(0, 0, 0);
  background-color: aliceblue;
  filter:opacity(0.4);
  max-width:300px;
}

.login-email,.login-btn,.login-pass{
width:80%;
height:25px;
border-radius:40px;
border:none;
background-color: lightpink;
outline:solid rgb(111, 73, 79) 1px;
z-index: index 10;
}

.login-email:hover,.login-btn:hover,.login-pass:hover{
  box-shadow:0.5px 0.5px 0.25px 0.25px black,
  1px 1px 0.5px 0.5px rgb(48, 41, 41)
  ,2px 2px 1px 1px grey;
  transform: translateZ(0px);
  opacity:1.0;
}

.login-page{
  background:url("./pages/elements/login-bg.jpg");
  background-position: center;
  background-size:100% 100%;
  background-repeat: no-repeat;
  width:100dvw;
  height:100dvh;
  }
.link{
  width:75%;
  text-align: right;
  margin-top:5px;
  margin-bottom:0px;
}

.link2{
  width:75%;
  text-align: right;
  margin-top:5px;
  margin-bottom:0px;
}

.product-pic{
  width:150px;
  height:150px;
  background: url("./pages/elements/login-bg.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-color: gray;
  border-radius:10px;
}

.product-description{
  width:150px;
  height:50px;
  background-color: grey;
  margin-bottom:0px;
  overflow-y:hidden;
  border-radius:10px;
}

.product{
  display: flex;
  flex-direction: column;
  margin:2dvw 3dvw 2dvw 3dvw;
  padding:5px 5px 5px 5px;
  height:fit-content;
  border-radius:10px;
}

.content{
  width:99%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
}

.cnt-ldr{
  height:50px;
  width:90dvw;
  background-color:transparent;
}

.product:hover{
  box-shadow:0.5px 0.5px 0.25px 0.25px black,
  1px 1px 0.5px 0.5px rgb(48, 41, 41)
  ,2px 2px 1px 1px grey;
  filter:saturate(200%);
  z-index:5;
}

.body-a{
  width:100dvw;
  overflow-x: hidden;
  height:100dvh;
  position: relative;
}

.head{
  max-width:95dvw;
}

.profile-pic{
  width:200px;
  height:200px;
  border-radius:50%;
  background-color: aqua;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:60px;
  outline:solid black 1.5px;
  z-index:5;
}

.change-btn{
  position: absolute;
  left:50%;
  margin-left:80px;
  transform: translateX(-50%);
  margin-top:140px;
  top:60px;
  background-color:transparent;
  /* background:url(73897432_JEMA\ LUIS\ 293-02.svg); */
  outline-style:none;
  border: 0px;
}

.h2{
  width:calc(fit-content - 20dvw);
  height:25px;
  border:none;
  outline-style:none;
  font-size:32px;
  text-align: center;
  /* margin-top:40%; */
  position:absolute;
  top:285px;
  left:50%;
  transform: translateX(-50%);
}



.b{
  color: aliceblue;
  text-decoration: none;
  padding:5px;
  width:25%;
  text-align: center;
}

.b:focus{
  background-color: aliceblue;
  color: black;
}

.a1{
  padding:10px;
  text-decoration: none;
  color: black;
  font-size:18px;
  background:linear-gradient(90deg,lightpink,lightpink,white);
  /* background-color: aqua; */
}

.a1:hover{
  background:linear-gradient(90deg,rgb(252, 168, 181),lightpink,lightpink,white);
}

.aligner{
  position: absolute;
  display:flex;
  flex-direction: column;
  width: 95dvw;
  margin-top:0px;
  margin-right: 0%;
  margin-left:2.5dvw;
}

.help{
  position: absolute;
  text-decoration: none;
  width:95dvw;
  text-align: center;
  bottom: 5%;
  margin-bottom:20px;
}

.btnx{
  display:flex;
  flex-direction: row;
  width:20dvw;
  margin-left:50%;
  transform: translateX(-53%);
}

.per{
  width:70dvw;
  height:120px;
  background-color: rgb(212, 252, 33);
  position:fixed;
  z-index:100;
  padding:5px;
  padding-left:10dvw;
  padding-right:0px;
  outline:solid black 1px;
  border-radius:10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  }

.yes{
  background-color: #39fa27;
  border-width:0px;
  padding:5px;
  outline:solid black  1px;
}

.no{
  background-color: #fa2727;
  border-width:0px;
  padding:5px;
  outline:solid black  1px;
}

.positioner{
  height:1.5px;
  width:97.5dvw;
  background-color: black;
  margin-top:340px;
  padding-right:0px;
}

.holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:96dvw;

}

.holder-child{
  width:40dvw;
  height:55px;
  border-radius:10px;
  background-color:lightblue;
  margin:2.5dvw 2.5dvw 2.5dvw 2.5dvw;
}

.holder-child:hover{
  box-shadow:1px 1px rgb(22, 22, 22),2px 2px rgb(52, 51, 51);
  background-color: rgb(129, 203, 227);
}
